<div class="card p-4 mb-3" style="max-width: 540px; line-height: 0.6rem;">
  <div class="row g-0">
    <div class="col-md-4 ">
      <img src="../../assets/Images/product1.jpg" class="img-fluid h-100 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">HP Pavilion v8</h5>
        <p class="card-text text-success fw-bold">98,000 RS</p>
        <hr>
        <div class="row ">
          <div class="col-md">
            <p class="card-text">Ram: 8GB</p>
            <p class="card-text">Hard Disk: 500GB</p>
            <p class="card-text">Proccessor: intel i7</p>
            <p class="card-text">Core: Dual Core</p>
          </div>
          <div class="col-md-5">
            <button class="btn btn-danger"> Buy Now</button>
            <button class="btn btn-light mt-2"> Add Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card p-4 mb-3" style="max-width: 540px; line-height: 0.6rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../../assets/Images/product1.jpg" class="img-fluid h-100 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Apple iPhone 13 Pro</h5>
        <p class="card-text text-success fw-bold">98,000 RS</p>
        <hr>
        <div class="row ">
          <div class="col-md">
            <p class="card-text">Ram: 8GB</p>
            <p class="card-text">Internal Stroage: 64GB</p>
            <p class="card-text">USB port: Type C</p>
          </div>
          <div class="col-md-5">
            <button class="btn btn-danger"> Buy Now</button>
            <button class="btn btn-light mt-2"> Add Cart</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>